.iris-strip.iris-slider.iris-alpha-slider {
	margin-left: 8px !important;
}

#customize-controls .control-section-pacific_pro .accordion-section-title,
#customize-controls .control-section-pacific_pro .accordion-section-title:hover,
#customize-controls .control-section-pacific_pro .accordion-section-title:focus {
	background-color: #fff !important;
}

.control-section-pacific_pro .accordion-section-title .button {
	margin-top: -4px;
	margin-left: 8px;
	font-weight: 400;
}

.pro-description {
	padding: 1rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.rtl .control-section-pacific_pro .accordion-section-title .button {
	margin-right: 8px;
	margin-left: 0;
}
