body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

body.mce-content-body {
	max-width: 780px;
	margin: 1.5rem;
}

blockquote,
q {
	quotes: "" "";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

hr {
	height: 1px;
	margin-bottom: 1.5em;
	border: 0;
	background-color: #eceff1;
}

img {
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	height: auto;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

::-webkit-input-placeholder {
	color: #666;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #666;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #666;
}

:-ms-input-placeholder {
	color: #666;
}

::-moz-selection {
	color: #fff;
	background: #ef6c00;
}

::selection {
	color: #fff;
	background: #ef6c00;
}

::-moz-selection {
	color: #fff;
	background: #ef6c00;
}

ul,
ol {
	margin: 0 0 1.5em 0;
	padding-left: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

table {
	width: 100%;
	margin: 0 0 1.5em;
	background-color: #fff;
}

caption {
	font-weight: bold;
}

th {
	font-weight: bold;
}

caption {
	margin-bottom: 1em;
}

th,
td {
	padding: 0.5rem;
	border: 1px solid #eceff1;
	text-align: left;
}

thead {
	background: rgba(0, 0, 0, 0.025);
}

.table-responsive {
	display: block;
	overflow-x: auto;
	width: 100%;
	min-height: 0;
	margin-bottom: 1.5em;
}

.table-responsive > table {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0 0 1rem;
	font-weight: normal;
}

p {
	margin: 0 0 1.5rem;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	overflow: hidden;
	margin: 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.7;
}

blockquote cite {
	display: block;
	margin-top: 0.5rem;
	font-weight: 600;
	font-style: normal;
}

blockquote.alignleft,
blockquote.alignright {
	margin-right: 0;
	margin-left: 0;
}

address {
	margin: 0 0 1.5em;
}

pre {
	overflow: auto;
	max-width: 100%;
	margin-bottom: 1.6em;
	padding: 1.6em;
	background: #eceff1;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

code {
	padding: 0.2rem 0.4rem;
	border-radius: 0.25rem;
	color: #bd4147;
	background-color: #eceff1;
	font-size: 90%;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

a {
	color: #ff9800;
	text-decoration: none;
	-webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out, opacity 0.25s ease-in-out;
	transition: color 0.25s ease-in-out, background 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: #ef6c00;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

.button-minimal,
.button-minimal-fill {
	display: inline-block;
	margin: 0.5rem;
	padding: 0.75rem 2rem;
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	font-weight: normal;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.button-minimal:hover,
.button-minimal:focus,
.button-minimal-fill:hover,
.button-minimal-fill:focus {
	border-color: #ff9800;
	color: #fff;
	background-color: #ff9800;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.button-minimal-fill {
	border-color: #fff;
	color: #404040;
	background-color: #fff;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */

.custom-logo-link {
	display: inline-block;
}

.icon {
	display: inline-block;
	position: relative; /* Align more nicely with capital letters */
	top: -0.0625em;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;

	fill: currentColor;
	stroke: currentColor;
	stroke-width: 0;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
	overflow: hidden;
	max-width: 100%;
	margin-bottom: 1.5rem;
	padding: 0.5rem;
	border: 1px solid #eceff1;
	background-color: #fff;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.wp-caption > a {
	display: block;
}

.wp-caption > a img {
	vertical-align: middle;
}

.wp-caption > a:hover img,
.wp-caption > a:focus img {
	opacity: 0.5;
}

.wp-caption-text {
	margin-bottom: 0;
	padding: 1rem 1rem 0.5rem;
	font-size: 14px;
	font-size: 0.875rem;
	text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
	margin-bottom: 1.5rem;
}

.gallery-item {
	float: left;
	overflow: hidden;
	position: relative;
	margin: 0 4px 4px 0;
}

.gallery-item img {
	vertical-align: middle;
}

.gallery-item a {
	display: block;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}

.gallery-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	max-height: 50%;
	margin: 0;
	padding: 6px 8px;
	opacity: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 12px;
	line-height: 1.5;
	text-align: left;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.gallery-caption:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 49px;
	content: "";
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


/*--------------------------------------------------------------
## Gutenberg
--------------------------------------------------------------*/

.wp-block-image,
.wp-block-embed,
.wp-block-gallery {
	margin-bottom: 1.5rem;
}

.wp-block-image img {
	display: block;
	vertical-align: middle;
}

blockquote.wp-block-pullquote {
	box-shadow: inset 0 0.25rem 0 0 #eceff1, inset 0 -0.25rem 0 0 #eceff1;
}

.alignfull,
.alignwide {
	width: inherit;
	max-width: inherit;
	margin-right: -1rem;
	margin-left: -1rem;
}

@media (min-width: 720px) {
	.alignfull,
	.alignwide {
		max-width: 100vw;
		margin-right: calc( -100vw / 2 + 100% / 2);
		margin-left: calc( -100vw / 2 + 100% / 2);
	}
}

@media (min-width: 960px) {
	.alignwide {
		max-width: 960px;
		margin-right: -5rem;
		margin-left: -5rem;
	}
}
